.id
{
    font-family: 'Roboto', sans-serif;
    /* remove the underline */
    text-decoration: none;
    color: rgb(20, 19, 19);
    font-size: 1.0rem;
    font-weight: bold;
  

}
  
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.about-page-container {
  padding: 3rem 0;
  background-color: #f2f2f2;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: #555;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #555;
  
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #333;
  
}
