.navbar {
  background-color: #1c2331; /* Dark blue color for the background */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Add a subtle box-shadow */
}

.navbar-brand {
  color: #fff; /* White color for the brand text */
  font-size: 2rem; 
}

.nav-item {
  margin: 0.2rem; 
}

.nav-link {
  color: #fff; 
  font-size: 1.2rem; 
  transition: all 0.2s ease-in-out; 
}

.nav-link:hover {
  color: #3498db; /* Light blue color for the navigation links on hover */
}
